@model IEnumerable<TeamLocal.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products/Services</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

        @foreach (var item in Model)
        {
            {
                <div class="list-group-item">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-content">
                                <b class="card-title">
                                    Product:
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </b>
                                <p class="card-text">
                                    <b>Price:</b>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </p>
                                <p>
                                    <b>Description:</b>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <button type="button" onclick="location.href='@Url.Action("Index", "Business")'" class="btn btn-warning btn-lg">Back</button>
                            <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                        </div>
                    </div>
                </div>
            }
            
        }
 